@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap');
@import "tailwindcss";

* {
    @apply box-border;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/font/MontserratAlternates-Regular.ttf') format('ttf');
}

/* Yellow (#FFCE32), Prussian blue (#1D63FF) */
@theme {
    --color-primary: #1D63FF;
    --color-primary-light: #8eb1ff;
    --color-secondary: #FFCE32;   
    --font-montesarrat: "Montserrat Alternates", sans-serif;
}

@layer components {
    .btn-primary {
        @apply bg-primary cursor-pointer text-white font-bold py-2 px-6 rounded-full;
    }

    .btn-secondary {
        @apply bg-secondary cursor-pointer text-white font-bold py-2 px-6 rounded-full hover:bg-secondary/70;
    }

    .btn-secondary-outline {
        @apply ring-2 ring-secondary text-secondary font-bold py-2 px-6 rounded-full;
        @apply hover:bg-secondary hover:text-white;
        @apply transition duration-300 ease-in-out;
        @apply cursor-pointer
    }

    .btn-primary-outline {
        @apply ring-2 ring-primary text-primary font-bold py-2 px-6 rounded-full;
        @apply hover:bg-primary hover:text-white;
        @apply transition duration-300 ease-in-out;
        @apply cursor-pointer
    }

    .input-primary {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary;
        @apply focus:outline-none focus:ring-2 focus:ring-primary-light;
    }
}
